<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>매장</title>
</head>
<body>

        <div>

            <h1> 매장 </h1>
            <input type="text" class="stname">
            <button type="button" onclick="store()">매장등록</button>
            <div class="storebox"></div>

            <table class="saletable" >
                <h1>제품</h1>
                제품이름 : <input type="text" class="sname" >
                제품가격 : <input type="text" class="sprice">
                <button type="button" onclick="sale()">등록</button>
            </table>

        </div>

        <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/js/index.js"></script>

</body>
</html>